PORT = 3000
APP_BASE_URL = "http://localhost:3000"

NODE_ENV = "production" 

DATABASE_URL = "database_url_placeholder" 

JWT_SECRET = "jwt_secret_placeholder"

XENDIT_SECRET_KEY = "xendit_secret_key_placeholder" #Xendit API key
XENDIT_CALLBACK_TOKEN = "xendit_callback_token_placeholder" #Webhook token

RESEND_API_KEY = "re_B9ND8R8i_H732N7GayNKUbyhV2SR8jjUsaXo2" #Resend API key