# DATABASE
POSTGRES_USER = "my_db_user"
POSTGRES_PASSWORD = "my_db_password"
POSTGRES_DB = "my_db"

# BACKEND
PORT = 8080
APP_BASE_URL = "http://localhost:8080"
DATABASE_URL = "postgres://${POSTGRES_USER}@localhost:5432/"
JWT_SECRET = "jwt_secret_key"
XENDIT_SECRET_KEY = "xendit_secret_key"
XENDIT_CALLBACK_TOKEN = "xendit_callback_token"
RESEND_API_KEY = "resend_api_key"

# PGADMIN
PGADMIN_DEFAULT_EMAIL = admin@prodigi.co.id
PGADMIN_DEFAULT_PASSWORD = admin123